.button {
	box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
	width: 300px;
	height: 65px;
	border-radius: 30px;
	border: none;
	font-weight: 700;
	font-size: 18px;
	background-color: #00c78b;
	color: #fff;
	transition: background-color .3s ease-in-out, transform .2s ease-in-out, box-shadow .3s ease-in-out;
}

.button:hover {
	background-color: #09e0a0;
	box-shadow: 3px 5px 8px #b2c3c3;
}

.button:active {
	transform: translateY(2px);
}

.wrapper {
	position: relative;
}

.list {
	position: absolute;
	top: 68px;
	left: 0;
	width: 300px;
	padding: 20px 52px;
	font-weight: 700;
	font-size: 18px;
	background-color: #00c78b;
	color: #fff;
	border-radius: 30px;
	transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;
}

.list:hover {
	box-shadow: 0px 0px 9px rgb(72 3 38 / 46%);
	background-color: #09e0a0;
}

.item {
	cursor: pointer;
	line-height: 36px;
	margin-bottom: 10px;
	transition: letter-spacing .3s ease-in-out;
}

.item:last-child {
	margin-bottom: 0;
}

.item:hover {
	letter-spacing: 1px;
}

@media(max-width: 1024px) {
	.button {
		width: 220px;
		height: 45px;
		font-size: 14px;
	}
}